{% extends 'OCPlatformBundle:Show:base.html.twig' %}

{% block title %}Mon CV{% endblock %}

{% block menu %}
	
{% endblock %}

{% block body %}
    
		
        <div class='container'>
            <div class='row'>
                <div class='col-xs-12 col-lg-4 style_nom'>BENOIT TRIGANO </div>
               
                
                 <div class='col-xs-12 col-lg-4 style_nom_3'>"Feru de technologies"</div>
                 <div class='col-xs-12 col-lg-4 style_nom'><a href="https://github.com/bendubled">GITHUB</a></div>
               
        </div>
               
            
             <div class='row'>
                <div class='col-xs-12 col-lg-4 style_nom'>DEVELOPPEUR WEB</div>
                <div class='col-xs-12 col-lg-4 style_nom_3'>" Le developpement Web est plus qu'une passion"</div>
                <div class='col-xs-12 col-lg-4  style_nom'><a href=" http://docdro.id/jD9PGxo">CV.pdf</a></div>
            </div>
            <div class='row'>
                
                <div class='offset-8 col-lg-4 style_mail'><a HREF="mailto:jonabe66@hotmail.fr">jonabe66@hotmail.fr</a></div>
            </div>
            <div class = 'competences'>
                <span class='titre_cat col-lg-4 col-xs-12'>COMPETENCES :</span> 
                <div class ='row mise_forme'>
                <div data-aos="zoom-in" class ='col-lg-4 col-xs-12  style_nom_2'> HTML/CSS<span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star-o"></span><span class="fa fa-star-o"></span></div>
                <div data-aos="zoom-in" class ='col-lg-4 col-xs-12 style_nom_2'> PHP<span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star-half-o"></span><span class="fa fa-star-o"></span><span class="fa fa-star-o"></span></div>
                <div data-aos="zoom-in" class ='col-lg-4 col-xs-12 style_nom_2'> JAVASCRIPT<span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star-half-o"></span><span class="fa fa-star-o"></span><span class="fa fa-star-o"></span></div>
                </div>
                <div data-aos="zoom-in" class ='row mise_forme'>
                <div data-aos="zoom-in" class ='col-lg-4 col-xs-12 style_nom_2'> AJAX<span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star-half-o"></span><span class="fa fa-star-o"></span><span class="fa fa-star-o"></span></div>
                <div data-aos="zoom-in" class ='col-lg-4 col-xs-12 style_nom_2'> JQUERY<span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star-half-o"></span><span class="fa fa-star-o"></span><span class="fa fa-star-o"></span></div>
                <div data-aos="zoom-in" class ='col-lg-4 col-xs-12 style_nom_2'> SQL<span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star-half-o"></span><span class="fa fa-star-o"></span><span class="fa fa-star-o"></span></div>
                </div>
           <div class ='row mise_forme'>
                <div data-aos="zoom-in" class ='col-lg-4 col-xs-12 style_nom_2'> SYMFONY<span class="fa fa-star"></span><span class="fa fa-star-o"></span><span class="fa fa-star-o"></span><span class="fa fa-star-o"></span><span class="fa fa-star-o"></span></div>
                <div data-aos="zoom-in" class ='col-lg-4 col-xs-12 style_nom_2'> WORDPRESS<span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star-half-o"></span><span class="fa fa-star-o"></span><span class="fa fa-star-o"></span></div>
                <div data-aos="zoom-in" class ='col-lg-4 col-xs-12 style_nom_2'> BOOTSTRAP<span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star-o"></span><span class="fa fa-star-o"></span></div>
           </div>
              
        </div>
             <div   class=" col-lg-12 ">
                            {% for experience in  cv  %}
                           
				 
                                <div data-aos="fade-down" class=" crea_projets">   {{ experience.titre }}</div>
                                 
                                
                                <div data-aos="fade-down" class="taille_div ">   <a href="{{asset( experience.lieux) }}"></a></div>
                              <div data-aos="fade-down" class="description">{{ experience.date }}</div>
                              <div data-aos="fade-down" class="description">{{ experience.contenu }}</div>
                                  
                                 {% endfor%}
                        </div>
           
            <div class="project">
            <span class="titre_cat col-lg-4 col-xs-12">PROJETS :</span>
            <div class="row">
            <div data-aos="flip-right" class="col-lg-4 col-xs-12 titre_project">Projet explorateur de fichiers</div>
            <div data-aos="flip-right" class="col-lg-4 col-xs-12 titre_project">Site Japon</div>
            <div data-aos="flip-right" class="col-lg-4 col-xs-12 titre_project">Jeux Last_Constitution</div>
            </div>
            <div class='row'>
                
                <div  class='col-lg-4 col-xs-12 '> <a target="_blank" href='http://109.190.30.178/explo_fichier/explofichier_aliknasa/'><img  width ="100" height="100" src="http://localhost/Symfony_portfolio/web/images/adob.png"/></a></div>
            <div  class='col-lg-4 col-xs-12'> <a target="_blank" href='http://109.190.30.178/Japon/BECHIK/WebContent/'><img width ="100" height="100" src="http://localhost/Symfony_portfolio/web/images/adob.png"/></a></div>
            <div  class='col-lg-4 col-xs-12 '> <a target="_blank" href='https://github.com/AformacWEBDEV3brive1/game_theLastConstitution'><img width ="100" height="100" src="http://localhost/Symfony_portfolio/web/images/adob.png"/></a></div>
            </div>
            </div> 
            
    </div>  
        
 
    
{% endblock %}



